.top {
  h1 {
    font-size: 15px;
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.bottom {
  display: flex;
  align-items: baseline;
  gap: 10px;
  justify-content: space-between;

  &__icons {
    display: flex;
    gap: 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  
  &:hover {
    opacity: 0.8;
  }
}